@charset "utf-8";
/* CSS Document */

body#combatreport {
	background:#000000 url(background.jpg) fixed center no-repeat;
	color: #E6EBFB;
  	font-size: 11px;
  	font-family: font-family: "Tahoma", sans-serif;
	line-height: 1;
	padding:0px 0 0;
	margin:0px 0 0;	
}
a {color: #848484;}


/*
         Toolbox CSS
	 Chris Coyier
	 http://css-tricks.com
*/
/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear				{ clear: both; }
.layoutCenter			{ margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft			{ text-align: left; }
.textBeefy          { font-weight: 700; }
.textGrow			{ text-transform:uppercase; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error				{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning			{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success			{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut			{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	STYLING EXTRAS
*/
.transpBlack			{ background: url(transparent_50x50.png); }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible			{ visibility: hidden; }




div.combat_round,
div#combat_result,
div.combat_round p {
	color:#999999;
}

div.round_info {
	margin-bottom:5px;
}

div.combat_round table {
	margin:0px auto;
}

div#combat_result p,
div.combat_round p{
	margin:5px 0px 5px 0px;
	text-align:center;
}


div.combat_round p.start_ex{

	font-weight:700;
	/*text-transform:uppercase;*/
	padding:5px 5px;
	/*background-color:#101010;*/
	
}

div.combat_round p.start{
	
	font-weight:700;
	text-transform:uppercase;
	padding:5px 5px;
	/*background-color:#101010;*/

}

div.combat_round p.opponents{
	font-size:11px;
	font-weight:700;
	filter:alpha(opacity=80); /* IE6 */
	-moz-opacity:0.8; /* Older Versions of Mozilla, like NN f.e. */
	-khtml-opacity: 0.8; /* Safari */
	opacity: 0.8;	
}

div.battle {
	border:1px solid #000;
	background: url(transparent_50x50.png);
}

div.battle,
div#combat_result {
	margin:5px 0px;
	padding:5px 5px;
}

div#combat_result {
	
	
	margin:5px 0px;
	padding:5px 0px;
}

td.round_attacker span.name,
td.round_attacker span.weapons,
td.round_defender span.name,
td.round_defender span.weapons,
td.round_defender span.destroyed{
	/*background: url(transparent_50x50.png);*/
	/*border:1px solid #222222;*/
	display:block;
	padding:0px;	
}


.newBack {
	background-color: #344566;
}


td {text-align:center;}
td.round_defender span.destroyed{
	color:#cfcfcf;
	padding:5px 9px;
text-align           : center;
}

td.round_attacker span.destroyed{
	display:block;
	padding:5px 0px;
	background: url(transparent_50x50.png);
}


td.round_attacker span.destroyed{
	color:#cfcfcf;
	padding:5px 9px;
}

td.round_attacker table,
td.round_defender table {	margin:5px auto;}

/*td.round_attacker table th,
td.round_defender table th {
	background: url(transparent_50x50.png);
}*/

td.round_attacker table th,
td.round_attacker table td,
td.round_defender table th,
td.round_defender table td {

border-bottom-color: #415680;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #415680;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #415680;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #415680;
border-top-style: solid;
border-top-width: 1px;
font-family: "Tahoma", sans-serif;
font-size: 12px;
	/*border:1px solid #999999;*/
	padding:2px 5px;
}

/*td.round_attacker table td,
td.round_defender table td{	background: url(transparent_50x50.png);}*/

span.loot {	color:#fefefe;}
body#combatreport div#master { font-size:11px;}

textarea, input {
	-moz-border-radius:0.4em;
}

.tbg1 {
	background-color: #344566;)
}

.tbg2 {
	background-color: #344566;)
}

.tbg3 {
	background-color: #344566;)
}

.tbg4 {
	background-color: #344566;)
}